/*  NOTES
- fonts:
    - Didot - Regular (headings)
    - Baskerville - Regular (small text)
    - Proxima Nova - Medium
- Colors:
    - beige - F8F6F4
    - pink - FFA995
- Map: [https://snazzymaps.com/style/115413/light-and-beige](https://snazzymaps.com/style/115413/light-and-beige)

*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  Temporary Styles */

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} */

/* html, 
body {
    border: none;
} */

/* h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
} */


/* Re-usable Utiity Classes  */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }

.margin-b-0 { margin-bottom: 0; }


.bg-featured { background-color: #018ca2;  }
.bg-dark     { background-color: #24282B;  }

.light-text { color: white; } 


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


/* General typography & universal styles  */

/* Header & Footer */

/* Images & Background Images */